body {
	background-color: #D2B48C;
}

h1 {
	text-align: center;

}

#buttons {
    text-align: center;
	font-size: 70px;
}

#resumebutton {

	width: 50%;
	float: left;
	color: #4169e1;
	
}

#biobutton {
	width: 50%;
	float: right;

	color: #4169e1;
}

img {
	display: block;
	margin: 0 auto;
	width: 300px; height:300px;
}

